html {
    direction: rtl;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans";
}

.form-control {
    line-height: 2;
}

.bg-custom {
    background-color: #fff;
}

.btn-custom {
    background-color: #3e3d56;
    color: #fff;
}

.btn-custom:hover {
    background-color: #33313f;
    color: rgb(173, 165, 165);
}

label {
    color: #555;
}

a,
a:hover {
    color: #555;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}

@media(max-width: 932px) {
    .display-none {
        display: none !important;
    }
}

#aue-login .bi-person, #aue-login .bi-lock {
    font-size: 250%;
}

#aue-nav .navbar-nav .nav-item:hover {
    opacity: .8;
}

.uae-search-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    font-size: 110%;
}

#uae-select-all-wrapper {
    width: 10%!important;
}

.uae-select-wrapper {
    width: 10%!important;
}

.uae-single-action-header {
    width: 15%!important;
}

.uae-single-action {
    width: 15%!important;
}

#aue-num-of-entries {
    width: auto!important;
}

#uae-single-entry {
    font-size: 150%;
}

#uae-single-entry .table tr th {
    width: 15%!important;
}

#uae-single-add form label {
    font-size: 130%!important;
    font-weight: bold!important;
}

#uae-page-number-wrapper {
    font-size: 130%;
}


.uae-toggle-pass {
    margin-left: 1rem;
    margin-top: -2rem;
}

.uae-toggle-pass:hover {
    cursor: pointer;
}








@media print {
    #aue-nav *, 
    #uae-action-main-header *, 
    #uae-select-all-wrapper, 
    .uae-select-wrapper, 
    .uae-single-action-header, 
    .uae-single-action, 
    #uae-single-entry #uae-single-actions *,
    #uae-main-page-pages-nav,
    .uae-select-row:not(.selected-item-for-action) {
        display: none;
    }

    /* Print query for selected coloumns */
}

@media screen and (min-width: 768px) {
    #uae-main-search-wrapper {
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #uae-main-search-wrapper {
        max-width: 25%;
    }
}






















/* REMOVE !!!!!! */
#toolbarContainer * {
    direction: ltr!important;
}